body {
    background-image: url(background.jpg);
    background-size: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
 
td, th {
  border: 1px solid #ffffff;
  text-align: left;
  color: #ffffff;
  padding: 8px;
}
  
tr:nth-child(even) {
  background-color: #686464;
}

h2 {
    color: #ffffff;
    text-align: center;
}