$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

body {
    background-image: url(background.jpg);
    background-size: 100%;
    * { box-sizing: border-box; }
}

.header {
  background-color: darken($baseColor, 5%);
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

table {
  font-family: "Arial Narrow", Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th { 
    color: darken($baseColor, 10%);
    padding: $padding; 
  }

  td {
    text-align: center;
    vertical-align: middle;
    
    &:last-child {
       font-size: 0.95em;
       line-height: 1.4;
       text-align: left;
    }
  }

  th { 
    background-color: lighten($baseColor, 50%);
    font-weight: 300;
  }
 
  tr {     
    &:nth-child(2n) { background-color: white; }
    &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
  }
}

.table-users {
  border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}
 

  
tr:nth-child(even) {
  background-color: #686464;
}

h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  color: #ffffff;
  text-align: center;
}

img {
  border-radius: 50%;
  height: $imageSmall;
  width: $imageSmall;
}