body {
  background-image: url(background.jpg);
  background-size: 100%;
}

body * {
  box-sizing: border-box;
}

.table-users {
  border: 1px solid #328eb4;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba(0,0,0,0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: calc(70% - 2em);
  position: absolute;
  left: 15%;
  right: 15%;
}

.header {
  background-color: #328eb4;
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

table {
  font-family: "Arial Narrow", Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  color: #328eb4;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
}

table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}

table th {
  background-color: #daeff1;
  font-weight: 300;
}

table tr:nth-child(2n) {
  background-color: white;
}

table tr:nth-child(2n+1) {
  background-color: #edf7f8;
}

tr:nth-child(even) {
  background-color: #80c1dc;
}

img {
  height: 20px;
  width: 20px;
} 

.status {
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: calc(80% - 2em);
  background-color: #FF00FF;
  position: relative;
  top: 20px;
}

.poststatus {
  color: green;
}